@use '../../scss/abstracts/' as *;
$Primary-600: #15c5ce;
$Primary-100: #eefcfc;
$color-grey-text: #4b4b4b;
$color-white: #fff;
$darc-grey-h1: #1f1f1f;
$color-elips: #fff6f3;
$color-green: #47b881;
$color-neutral: #fafafa;
.container_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 58.125rem;
  height: 29.75rem;
  padding: 0px;
}

.container_page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 40px;
  color: $Primary-600;

  .page_right {
    width: 77%;
    min-height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    background: $color-white;

  }
}
