$Primary-600: #15c5ce;
$Primary-100: #eefcfc;
$color-grey-text: #4b4b4b;
$color-white: #fff;
$darc-grey-h1: #1f1f1f;
$color-elips: #fff6f3;
$color-green: #47b881;
$color-table: #FAFAFA;
$color-table-th: #f2f2f2;
$color-table-td: #eeeeee;
$color-input: #E1E1E1;
$color-input-text: #ABABAB;
$color-search-text: #CACACA;
$color-line: #EEE;
$color-neutral: #F5F5F5;
$color-btn-span: #EFEFEF;
$color-btn-weight: #F7F7F6;
$color-grey-btn: #C4C4C4;
$color-span-categor: #FFF2EE;
$color-span-text-meat: #FF8156;
$color-span-meat: #FFF2EE;
$color-span-fish: #E4F2FF;
$color-span-fish-text: #3B82F6;
$color-span-salad: #E5F5EC;
$color-span-salad-text: #5BBF8F;
$color-span-burger: #FFEAB3;
$color-span-text-burger: #C0A647;
$color-modal-menu: #FFF9EE;
$color-tabel-menu: #EEFCFC;
$color-btn-modal: #F64C4C;
$color-error: #e50808;
$color-back-error: #f8d7da;
$color-black: #1F1F1F;
$color-price-bgcolor: #FFF7E1;
$color-price-color: #FFAD0D;
$color-titlemenu-modal: #3B3F5C;
$color-border-modal: #E0E6ED;

$color-square2: #3F6FCC;
$color-square3: #83D2C9;
$color-square4: #F5F1E5;

