$Primary-600: #15c5ce;
$Primary-100: #eefcfc;
$color-grey-text: #4b4b4b;
$color-white: #fff;
$darc-grey-h1: #1f1f1f;
$color-elips: #fff6f3;
$color-green: #47b881;
$color-table: #FAFAFA;
$color-table-th: #f2f2f2;
$color-table-td: #eeeeee;
$color-input: #E1E1E1;
$color-input-text: #ABABAB;
$color-search-text: #CACACA;