$poppi: 'Poppins';
$playf: 'Playfair Display';
$regular14: normal 300 14px $poppi;
$regular16: normal 300 16px $poppi;
$regular12-400: normal 400 0.75rem $poppi;
$regular14-400: normal 400 0.875rem $poppi;
$regular24: normal 400 24px $poppi;
$medium20: normal 500 20px $poppi;
$medium16: normal 500 16px $poppi;
$medium14: normal 500 14px $poppi;
$medium18: normal 500 18px $poppi;
$bold30: normal 700 30px $playf;
$bold36: normal 700 36px $playf;
$bold30: normal 700 1.875rem $playf;
