@use "../../scss/abstracts/" as *;
.menu-contain{
  padding-top: 9px;
}
.style-input {
  border-radius: 0.375rem;
  border: 0.6px solid $color-input;
  background: $color-white;
  cursor: pointer;
  color: $color-input-text;
  padding-left: 2.03rem;

  &:hover {
    border: 0.6px solid $Primary-600;
  }
  &:focus{
    border: 0.6px solid $Primary-600;

  }
}

.input-menu {
  width: 31.75rem;
  height: 3.6875rem;
}

