.button-page{
    background-color: rgb(21, 197, 206);
    flex: 1;
    padding: 15px;
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 auto;
}