.header-log{
    color: #15C5CE;
    font-size: 1.3rem;
    font-family: 'Poppins';
    margin: 30px 30px 0px;
   
}
.header-link{
    display: flex; 
    justify-content: flex-end;
    text-align: center;
}