.header-log{
    color: rgb(21, 197, 206);
    font-size: 1.2rem;
    font-family: 'Poppins';
    margin: 30px 30px 0px;
   
}
.header-link{
    display: flex; 
    justify-content: flex-end;
    text-align: center;
}