$Primary-600: #15C5CE;
$Primary-100: #EEFCFC;
$color-grey-text: #4B4B4B;
$color-white: #FFF;
$darc-grey-h1: #1F1F1F;
$color-elips: #FFF6F3;
$color-green: #47B881;
$color-neutral: #FAFAFA;
    .block-btn{
        border-radius: 4px;
        background: $Primary-600;
        margin-top: 32px;
        margin-left: 88px;
        width:151px;
        height: 36px;
        
        .btn-addtable{
            display: flex;
            justify-content: space-around;
            border: none;
            border-radius: 4px;
            color: $color-white;
            background: $Primary-600;
            padding: 7px 8px;
        }
    }
    .block-categ-table{
        display: flex;
        justify-content: space-between;
        margin-left: 88px;
        margin-top: 33px;
        width: 507px;
        color: $Primary-600;

        .quantity-table{
            color: $color-grey-text;
        }

    }
    
    .categ-table1:hover,
    .categ-table2:hover,
    .categ-table3:hover,
    .categ-table4:hover{
        color: $color-grey-text;
    }