$Primary-600: #15C5CE;
$Primary-100: #EEFCFC;
$color-grey-text: #4B4B4B;
$color-white: #FFF;
$darc-grey-h1: #1F1F1F;
$color-elips: #FFF6F3;
$color-green: #47B881;
$color-neutral: #FAFAFA;
.table-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0px;
}
.tables-page{
    width: 100%;
    background: $color-neutral;
    .page-left{
    
    
    }
    .page-right{
        width: 77%;
        min-height: 100%;
        float: right;
        margin: 0;
        padding: 0;
        background: $color-white;

    .page-title{
        padding-top: 57px;
        padding-left: 88px;
        color: $Primary-600;
        // text-align: center;
        font-family: 'Poppins';
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    }
    .block-btn{
        border-radius: 4px;
        background: $Primary-600;;
        margin-top: 32px;
        margin-left: 88px;
        width:151px;
        height: 36px;
        
        .btn-addtable{
            display: flex;
            justify-content: space-around;
            border: none;
            border-radius: 4px;
            color: $color-white;
            background: $Primary-600;
            padding: 7px 8px;
        }
    }
    .block-categ-table{
        display: flex;
        justify-content: space-between;
        margin-left: 88px;
        margin-top: 33px;
        width: 507px;
        color: $Primary-600;

        .quantity-table{
            color: $color-grey-text;
        }

    }
    
    .categ-table1:hover,
    .categ-table2:hover,
    .categ-table3:hover,
    .categ-table4:hover{
        color: $color-grey-text;
    }
}