@use "../../scss/abstracts/" as *;
.image-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .imgdiv {
    display: flex;
    align-items: center;
  }
  
  .image-uploader {
    display: inline-block;
    border: 2px dashed #cccccc;
    padding: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .plusicon {
    font-size: 24px;
    color: #cccccc;
    margin-bottom: 10px;
  }
  
  .upload-text {
    font-size: 14px;
    color: #cccccc;
  }
  
  .uploaded-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .imgloaded {
    max-width: 144px;
    max-height: 111px;
  }
  